*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background: linear-gradient(to top, #141414, #272323);;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.login-container {
    width: 700px;
    background-color: rgb(18, 18, 18);
    padding: 30px 180px;
    border-radius: 10px;
    margin-top: 30px;
    text-align: center;
}

.logo img {
    padding: auto;
    margin: 0;
    width: 50px;
}

h4 {
    font-size: 24px;
    margin-bottom: 50px;
}

.social-login button {
    padding: 10px 30px;
    background: transparent;
    border: 0;
    outline: none;
    color: #ffffff;
    border: 1px solid #818080;
    border-radius: 50px;
    margin-bottom: 5px;
    
} 

.social-login button i {
    margin-right: 10px;
}

.social-login button:hover {
    border-color: #fff;
}

.facebook-login {
    padding: 10px 30px;
    background: transparent;
    border: 0;
    outline: none;
    color: #ffffff;
    border: 1px solid #818080;
    border-radius: 20px;
    margin-bottom: 300px;
}

.google-login {
    padding: 10px 30px;
    background: transparent;
    border: 0;
    outline: none;
    color: #ffffff;
    border: 1px solid #818080;
    border-radius: 50px;
    margin-bottom: 300px;
}

.apple-login {
    padding: 10px 30px;
    background: transparent;
    border: 0;
    outline: none;
    color: #ffffff;
    border: 1px solid #818080;
    border-radius: 20px;
    margin-bottom: 300px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 14px;
}

.checkbox-group {
    display: flex;
    align-items: center;
}

.checkbox-group input {
    margin-right: 10px;
}

.login-button {
    width: 100%;
    padding: 10px;
    background-color: #1DB954;
    border: none;
    border-radius: 5px;
    color: rgb(18, 18, 18);
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
}

.login-button:hover {
    background-color: #1ed760;
}

.links a {
    color: #1DB954;
    text-decoration: none;
    font-size: 14px;
}

.links a:hover {
    text-decoration: underline;
}

.divider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    color: #B3B3B3;
}

.divider span {
    background-color: #282828;
    padding: 0 10px;
}

.signup {
    margin-top: 20px;
}

.signup a {
    color: #1DB954;
    text-decoration: none;
}

.signup a:hover {
    text-decoration: underline;
}